<html>
<body>
	<h1>{{ email or "Nobody's" }} inbox</h1>
	<p>
		Let's assume <strong>you are the owner of this email inbox</strong>,
		since in this POC app I wouldn't have a way to send you the reset link otherwise.
	</p>
	<p>Normally, you would be redirected to the login page, with the reset link sent to your actual email inbox.</p>
	<h3>If an account with supplied info exists, a reset link (valid for an hour) will appear below.</h3>

	{% if link is defined %}
		<a href="{{ link }}">{{ link }}</a>
		<br/><br/>
	{% endif %}

	<form action={{ url_for('login') }}>
		<input type="submit" value="Go back" />
	</form>
</body>
</html>