<html>
<body>

  <p>Author: <strong>{{ author }}</strong></p>

  <label for="public">Publicly available</label>
  <input type="checkbox" name="public" disabled
    {% if public is true %} checked {% endif %}
  >

  <label for="encrypted">Encrypted</label>
  <input type="checkbox" name="encrypted" disabled
    {% if encrypted is true %} checked {% endif %}
  ><br/>

  {% if encrypted is false %}
    <img width=512 src="{{ url_for('banner', user=author, note_id=rendered_id) }}">
    
    <h3>{{ title | safe }}</h3>
    {{ rendered_note | safe }}
    <br>
  {% endif %}

  {% if encrypted is true %}
    <form action={{ url_for('decrypt', user=author, rendered_id=rendered_id) }} method="post">
      <label for="passphrase">Enter passphrase to decrypt</label>
      <input type="text" id="passphrase" name="passphrase">
      <input type="submit" value="Decrypt" />
    </form>
  {% endif %}

  <form action={{ url_for('dashboard') }}>
    <input type="submit" value="Go back" />
  </form>

</body>
</html>