<html>
<body>
	<h1>Reset password for {{ username }}</h1>

	<form action={{ url_for('resetpassword', username=username, checksum=checksum) }} method="post">

    <label for="password">Password</label>
    <input type="password" id="password" name="password"><span id="infop"></span><br>

    <label for="password">Repeat password</label>
    <input type="password" id="rpassword" name="rpassword"><span id="inforp"></span><br>

    <input type="submit" value="Submit" id="submitbtn" disabled>
  </form>

	<form action={{ url_for('login') }}>
		<input type="submit" value="Cancel and go back" />
	</form>

	{% block javascript %}
    <script type="text/javascript">
      const checkSubmitable = (validPassword) => {
        const submitbtn = document.getElementById('submitbtn')
        if (validPassword) submitbtn.disabled = false
        else submitbtn.disabled = true
      }

      const validatePassword = () => {
        const password = document.getElementById('password')
        const infop = document.getElementById('infop')
        const rpassword = document.getElementById('rpassword')
        const inforp = document.getElementById('inforp')
        const passwdPattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/
        let vp1 = false, vp2 = false

        if (passwdPattern.test(password.value)) {
          vp1 = true
          infop.innerText = ''
        } else
          infop.innerText = 'Password must contain at least 1 lower-, uppercase, numeric, and special character and be 8 chars long.'

        if (password.value === rpassword.value) {
          vp2 = true
          inforp.innerText = ''
        } else
          inforp.innerText = 'Passwords do not match.'

        validPassword = vp1 && vp2
        checkSubmitable(validPassword)
      }

      document.getElementById('password').addEventListener('input', validatePassword)
      document.getElementById('rpassword').addEventListener('input', validatePassword)
    </script>
  {% endblock %}
</body>
</html>